body{
    margin: 0 auto;
}
.head-carosel-item{
  background:rgba(0,0,0,0.5) url("pompi.png");
  background-size: cover;
  background-origin: center;
  position: relative;
}
.head-carosel-item::before{
  content: "";
  top:0;
  bottom:-1px;
  left:-1px;
  right: -1px;
  background: linear-gradient( rgba(0,0,0,0),#101010);
  position: absolute;
}
.absolute{
  position: absolute;
  z-index: 200;
  width: 100%;
}
.relative{
  position: relative;
}
.wraper{
  margin: 0 auto;
  width: 80%;
}









