:root{
    --bg-clr:#E9EAE7;
    --accent:#1EB2A6;
    --transit:all .4s ease;
    --text-clr:#262722;
    --sec-bg:white;
}
*{
    box-sizing: border-box;
    list-style: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0 auto;
    color: var(--text-clr);
    background: var(--bg-clr);
}
header, section{
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
    background:var(--sec-bg);
    margin-bottom: 8%;
    
}
nav{
    display: flex;
    height: 2.5rem;
    background: pink;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav li{
    margin: .7rem;
    font-size: .99rem;
}
nav .logo{
    font-weight: 600;
}
nav input[type=text]{
    border:none;
    border-radius: .5em;
    padding: .2em 1em;
    width: 100px;
}
nav input:focus{
    border:none;
}
.head-promo{
    min-height: 70vh;
    display: flex;
    align-items: center;
    background:  url("best-collection-vr-glasses-img.png") no-repeat;
    background-position: center right;
    background-size: 50vh;
    width: 70%;
}
.promo-text{
    max-width: 380px;
}
h1{
    font-size: 2.1rem;
    line-height: 1.1;
    letter-spacing: -.05rem;
    text-transform: uppercase;
}
p{
    font-size: .99rem;
    line-height: 1.4;
    margin: 10px 0px;
    opacity:.7;
}
.btn-cta{
    color: var(--accent);
    border: .18rem solid var(--accent);
    background: rgba(0, 0, 0, 0);
    border-radius: .1em;
    width: 11em;
    padding: .2em 1em;
    transition: var(--transit);
    font-weight: 600;
    margin:15px 0px;
}
.btn-cta:hover{
    background: var(--accent);
    color:var(--bg-clr);
    transform: translateY(-5px)
}
/*=====categories==*/
.categories{
    max-width: 80%;
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-gap: 1rem;
    align-items: center;
    height: 150px;
    
}
.categories-item{
    padding: 9px;
    max-width: 200px; 
    height: 100px;
    position: relative;
    transition: var(--transit);
}
.categories-item h3{
    background: white;
    padding: 5px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: .7;
    transition: var(--transit);
    font-size: 1.2rem;
}
.categories-item img{
    height: 100%;
    width: 100%;
    max-width: 300px;
    object-fit: contain;
}
.categories-item:hover.categories-item h3{
    background: var(--accent);
    opacity: 1;
    color: var(--sec-bg);
    
}
.categories-item:hover{
    transform: translateY(-5px);
}
/*===featured==*/
.featured{
    margin: 5% auto;
    text-align: center;
}
.featured h2{
    margin: 5% auto;
    display: flex;
    flex-direction: column;
    
}
.item-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    grid-gap: 2rem;
}
.item{
    height: 250px;
    width: 150px;
    display: flex;
    flex-direction: column;
    margin: 5%;
    background: var(--bg-clr);
    padding: .2em;
    border-radius: .3em;
    font-size: .99rem;
    transition: var(--transit);
}
.item:hover i{
    background: var(--accent);
    color: var(--sec-bg);
    border-radius: .3em;
    padding: .2em;
}
.item:hover{
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
}
.item img{
    height: 80%;
    width: 100%;
    object-fit: contain;
    margin: 0px;
    
}
.item-foot{
    display: flex;
    justify-content: space-between;
    height: 20%;
    align-items: center;
}
.item-foot img{
    width: 20px;
    height: 20px;
    margin: 4px;
}
.accent{
    color: var(--accent);
    font-size: .88rem;
}
i{
    transition: var(--transit);
}